* {
    color: #fcf7f7;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}

.menu-items > * {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
}

.menu-list {
    list-style-type: none;
}

.login-button {
    display: flex;
    justify-content: center;
}

.login-button button, .top-link {
    margin: 0 10px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
}

.top-link:hover, button:hover {
    background-color: #1d1b16;
    border-radius: 3px;
}

.top-link {
    text-decoration: none;
    background-color: transparent;
    color: #fcf7f7;
}