* {
    margin: 0;
}

.info {
    /* background-color: rgb(31,31,31); */
    color: white;
    margin: 0 10%;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}


.poster {
    width: 30%;
}

.brief {
    color: white;
}

.review-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

.watched-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watched-text-p {
    text-align: center;
    margin-bottom: 0;
}

.detail-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fbf9f9;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.detail-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.stars {
    color: '#FFC107';
}


.subheading {
    margin-left: 0;
    margin-top: 30px;
}

.rating-list {
    margin-left: 0;
}

.movie-review-list {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

.movie-review-item {
    margin-bottom: 5px;
}

.rating-value {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
}

.user-info {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

.name {
    color: #fbf9f9;
    margin-bottom: 0;
}


.edit-button {
  border: none;
  color: #128bb5;
}

.edit-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}


@media (min-width: 768px) {
    .detail-button {
    padding: 0.25em 0.75em;
  }
}