* {
    margin: 0;
}

.info {
    background-color: rgb(31,31,31);
    color: white;
}

.container {
    margin: 0 10%;
    display: flex;
    flex-wrap: nowrap;
}


.poster {
    width: 30%;
}

.brief {
    color: white;
}


