.user-review-list {
    margin-left: 150px;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 20px;
}

.user-info {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.title {
    margin-bottom: 0;
    color: #fbf9f9;
}

.review-item {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.review-poster {
    width: 8%;
    margin-right: 20px;
}

p {
    color: #fbf9f9;
}

.personal-info {
    margin-left: 150px;
}

@media (max-width:550px) {
    .user-review-list {
        margin-left: 40px;
        margin-right: 21px;
    }

    .user-info {
        flex-wrap: wrap;
    }
    .review-poster {
        width: 100px;
        height: 150px;
    }

    .personal-info {
        margin-left: 40px;
    }
}